azure-storage-blob==12.25.1
azure-ai-documentintelligence==1.0.2
python-multipart==0.0.20
azure-identity==1.23.0
python-dotenv==1.1.1
numpy==2.3.1
uvicorn==0.35.0
fastapi==0.116.1
aiofiles==24.1.0
langchain==0.3.26
langgraph==0.5.3
langgraph-supervisor==0.0.27
langchain-openai==0.3.22
langchain-mcp-adapters==0.1.9
psycopg2-binary==2.9.10
SQLAlchemy==2.0.41
mcp==1.9.4